@import "./../variables";

.nav-link {
    font-size: 14px !important;
    background: transparent !important;
    font-family: Lato, sans-serif;
    text-transform: capitalize;

    &:hover {
       background: transparent;
       color: $accent !important;
    }
}

.login-btn {
   border: 2px solid $accent;
   font-size: 10px;

   &:hover { background: $accent; }
}

.navbar { box-shadow: none !important; }
.navbar-brand { font-size: 25px; }
.navbar-toggler-icon { color: #fff; }